/* Font */
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';

body{
	position: relative;

	overflow: hidden;
	background-size: auto;
	background-image: url("https://hd.unsplash.com/photo-1421930535025-d2af27c14065");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	z-index: 0;
}

html {
	height: 100%;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

div.homepage {
	padding-top: 20%;
	text-align: center;
	color: #fff;
}

div.homepage > h1 {
	font-family: 'Lato';
	font-weight: '700';
	font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
							 0px 8px 13px rgba(0,0,0,0.1),
							 0px 18px 23px rgba(0,0,0,0.1);

}

button:focus {
	outline: none !important;
}

.btnDefault {
	margin: 10px;
	letter-spacing: 2px;
	background-color: #f49a7f;
	margin-top: 0px;
	padding: 8px 30px !important;
	font-size: 15px !important;
	color: #FFFFFF;
	font-family: 'Futura';
}

.btnDefault:hover,.btnDefault:active {
	background-color: white;
	border-color: black;
	outline: none;
	outline-style: none;
	outline-width: 0;
	
}

.tab {
	font-weight: bold;
	font-size: 15px;
	border-style: solid;
	border-width: 2px;
	border-bottom-style: none;
	border-color: #000000;
	margin-right: -7px;
	padding: 10px 20px;
	display: inline;
	background-color: white;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	width: 30%;
	text-align: center;
	letter-spacing: 2px;
}

.tab:focus,.tab:active {
	background-color: #f49a7f;
}
.tab:hover {
	background-color: #f49a7f;
}

.tabContent {
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	margin-top: 0px;
	padding: 15px;
	border-radius: 13px;
	border-top-left-radius: 0px;
}

/*How it works style*/
.box { 
	color: white;
	text-align: center; 
	height: 420px; 
	width: 118%; 
	font-size: 82px; 
	z-index: -1;
	transition:all linear 1.3s;
}
.on-hide { 
	background-color: #f49a7f;
	transition:all linear 1.3s;
}
.off { 
	background-color: black; 
}


.box-show, .box-hide {
 -webkit-transition:all linear 1.0s;
  transition:all linear 0.5s;
}

.box-show-setup { opacity:0; height: 0; }
.box-show-setup.box-show-start { opacity:1; height: 100px; }

.box-hide-setup { opacity:1; height: 0; }
.box-hide-setup.box-hide-start { opacity:0; height: 100px; }

/*Main title css*/
.container coverPhoto {
	width: 100%;
}


.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-family: 'Futura';
	font-size: 75px;
	font-weight: bolder;
}

element.style {
    margin-left: 565px;
}
/*Login and Signup*/

.form-style-8{
    font-family: 'Proxima Nova', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Futura', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

/* Navbar common style */ 
 .navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,0);
  }

 a.navbar-brand {
 	font-family: 'Lato';
 	font-weight: '100';

 }

 /* Navigation Styling */
.navbar {
	font-family: 'Lato', sans-serif;
	background: #000;
	padding: 15px;
	font-weight: 100;
}
.navbar .navbar-brand {
	color: #ecf0f1;
	font-size: 2.5em;
	font-weight: 100;
}
/*special effect*/
.navbar .navbar-brand:hover {
	color: #fff;
}


.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 1.0em;

}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.navbar-default .navbar-nav>li>a:focus {
	outline: 0;
	color: #fff;
	border-bottom: 1px solid #fff;
}

/*.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a {
	outline: 0;
	color: #fff;
	border-bottom: 1px solid #fff;
	
}*/




@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}