/* Font */
@import 'https://fonts.googleapis.com/css?family=Lato:100,200,300,400';
* {
	font-family: 'Lato' !important
}
/******************************/

body { 
	position: relative;
	background-size: cover;
	background-image: url("https://hd.unsplash.com/photo-1421930535025-d2af27c14065");
	background-repeat: repeat;
	background-size: 100% 215%;
	background-position: top;
	min-height: 100%;
	margin: 0;
	z-index: 0;
}

html {
	height: 100%;
	box-sizing: border-box;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

/******************************/
/*Container in landing page*/
/******************************/
div.homepage {
	padding-top: 18%;
	text-align: center;
	color: #fff;
}

div.homepage > h1 {
	font-family: 'Lato', 'open sans';
	font-weight: '700';
	font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
							 0px 8px 13px rgba(0,0,0,0.1),
							 0px 18px 23px rgba(0,0,0,0.1);

}
/******************************/


/******************************/
/*Landing page - How and try button styling*/
/******************************/

#howBtn {
	background: none;
	color: #fff;
	outline: none;
	padding: 12px 22px;
	margin-bottom: 10px;
	border: 3px solid #1abc9c;
	border-radius: 0;
}

#howBtn:hover {
	border: 2px solid #16a085;
	margin-bottom: 12px;
}

#try  {
	background: none;
	outline: none;
	margin: 20px 15px;
	padding: 10px 22px;
	border: 3px solid #2980b9;
	border-radius: 0;
}

#try:hover {
	border: 2px solid #3498db;
}

#try > a {
	text-decoration: none;
	color: #fff;
}
/******************************/



/******************************/
/*FRONT PAGE MODAL*/
/******************************/
.modal-content {
	border-radius: 0;
}

.modal-footer .btn {
	border-radius: 0;
	color: #fff;
}

.modal-footer .btn-primary > a {
	color: #fff;
	text-decoration: none;
}


.modal-title {
	color: #000;
	font-family: 'Lato', 'open sans';
	font-weight: 300;
}

.modal-body {
	color: #000;
	font-family: 'Lato', 'open sans';
	font-weight: 100;
}

button:focus {
	outline: none !important;
}
/******************************/


/******************************/
/*analyze button styling*/
/******************************/

#anaClear {
	background: none;
	color: #fff;
	outline: none;
	margin-right: 12px;
	border: 2px solid #1abc9c;
	border-radius: 0;
	font-family: 'Lato', 'open sans';
	font-weight: 100;
	margin: 10px 10px;
}

#anaClear:hover, #anaClear:active{
	background: none;
	border: 1px solid #16a085;;
	
}
/******************************/


/**********************************/
/* Personailty analysis rendering*/
/**********************************/
.small {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 1.2em;
}

.tab {
	background: none;
	color: #fff;
	outline: none;
	margin-right: 12px;
	border: 2px solid #1abc9c;
	color: #fff;
	border-bottom-style: none;
	margin-right: -3px;
	padding: 15px 15px;
	display: inline;
	width: 23%;
	text-align: center;
	letter-spacing: 1px;
}

.tab:focus,.tab:active,.tab:hover {
	font-size: 1.1em;
}


.tabContent {
	width: 100%;
	border: solid 1px #000;
	font-family: 'Lato';
	font-weight: 100;
	color: #000;
	border-width: 2px;
	margin-top: 0px;
	padding: 15px;
	background: #fff;
	border-top-left-radius: 0px;
}
/******************************/


/******************************/
/*How it works style*/
/******************************/
.box { 
	color: white;
	text-align: center; 
	height: 420px; 
	width: 118%; 
	font-size: 82px; 
	z-index: -1;
	transition:all linear 1.3s;
}
.on-hide { 
	background-color: #2980b9;
	transition:all linear 1.3s;
}
.off { 
	background-color: black; 
}


.box-show, .box-hide {
 -webkit-transition:all linear 1.0s;
  transition:all linear 0.5s;
}

.box-show-setup { opacity:0; height: 0; }
.box-show-setup.box-show-start { opacity:1; height: 100px; }

.box-hide-setup { opacity:1; height: 0; }
.box-hide-setup.box-hide-start { opacity:0; height: 100px; }
/******************************/



/******************************/
/*Main title css*/
/******************************/
.container coverPhoto {
	width: 100%;
}


.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-family: 'Lato', 'open sans';
	font-size: 75px;
	font-weight: bolder;
}

element.style {
    margin-left: 565px;
}

/******************************/

/*******************************/
/*LOGIN & SIGNUP */
/*******************************/
.form-style-8{
    font-family: 'Lato', 'arial', 'sans';
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 150px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Lato', 'sans-serif';
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px 'Lato', Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.form-style-8 .login {
	margin-left: 130px;
}
.form-style-8 .signup {
	margin-left: 155px;
}

/*********************************/




/* Navbar common style */ 

 .navbar a.navbar-brand {
 	font-family: 'Lato';
 	font-weight: '100';
 	font-size: 1.5em;
	outline: none;
	color: #fff;
 }

  .navbar a.navbar-brand:active {
  	color : #fff;
  }

/******************************/
 /* Navigation Styling */
 /******************************/

.navbar {
	font-family: 'Lato', sans-serif;
	background: #000;
	padding: 15px;
	font-weight: 100;
	border-bottom-width: 0px;

}
.navbar .navbar-brand {
	color: #ecf0f1;
	font-size: 2.5em;
	font-weight: 100;
}
/*special effect*/
.navbar .navbar-brand:hover {
	color: #fff;
}


.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 1.0em;
	margin-right: 10px

}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.navbar-default .navbar-nav>li>a:focus {
	outline: 0;
	color: #fff;
	border-bottom: 1px solid #fff;
}


/******************************/

.error {
	text-align: center;
	font-size: 5em;
	color: #fff;
	padding-top: 15%;
}

#errorBtn {
	background: none;
	color: #fff;
	outline: none;
	padding: 10px 20px;
	border: 2px solid #e74c3c;
	border-radius: 0;
	font-size: .25em;
	font-family: 'Lato', 'open sans';
}

#errorBtn a {
	text-decoration: none;
	color: #fff;
}

#errorBtn:hover {

	border: 1px solid #c0392b;

}

/******************************/
/* Footer Styling */
/******************************/
 
#footer {
	background: #000;
	color: #ecf0f1;
	width: 100%;
	position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

}

#footer p {
	padding: 15px 0;
	margin: 0;
}
/******************************/

/******************************/
/* About us section styling */
/******************************/
#aboutUs {
	border: 2px solid #000;
	background: #fff;
	padding: 30px 40px;
	margin: 100px;
	font-family: 'Lato';
	font-weight: 300;
	height: 100%;

}

#aboutUs > hr {
	width: 100%;
}

/******************************/

.profile-photo {
float: left;
max-width: 50%;
margin: 0 auto;
margin-right: 30px;
border: 2px solid #2c3e50;
border-radius: 5%;
height: 5%;
margin: 10px 10px;
}

@media only screen and (max-width : 800px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}
	
	body {
		width: 112%;
	}
	.navbar {
	padding: 1px;
	}

	#aboutUs {
	border: 2px solid #000;
	background: #fff;
	padding: 15px 20px;
	margin: 50px;
	font-family: 'Lato';
	font-weight: 200;
	font-size: .75em;
	height: 50%;
	width: 100%;

}

.profile-photo {
float: left;
max-width: 75%;
margin: 0 auto;
margin-right: 60px;
border: 2px solid #2c3e50;
border-radius: 5%;
height: 5%;
margin: 10px 10px;
}

.personalityDiv {
		padding-top: 100%;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
	.form-style-8{
		width: 75%;
	}

.form-style-8 .login {
	margin-left: 50px;
}
.form-style-8 .signup {
	margin-left: 50px;
}

#footer {
	width: 100%;
}
}