button:focus {
	outline: none !important;
}

.btnDefault {
	margin: 10px;
	letter-spacing: 2px;
	background-color: #3AE2C8;
	padding: 8px 30px !important;
	font-size: 15px !important;
}

.btnDefault:hover,.btnDefault:active {
	background-color: white;
	border-color: black;
	outline: none;
	outline-style: none;
	outline-width: 0;
}

.tab {
	font-weight: bold;
	font-size: 15px;
	border-style: solid;
	border-width: 2px;
	border-bottom-style: none;
	border-color: #3AE2C8;
	margin-right: -7px;
	padding: 10px 30px;
	display: inline;
	background-color: white;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	width: 30%;
	text-align: center;
	letter-spacing: 2px;
}

.tab:focus,.tab:active {
	background-color: #3AE2C8;
}
.tab:hover {
	border-color: #ADF0EB;
	background-color: #ADF0EB;
}

.tabContent {
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: #3AE2C8;
	margin-top: 0px;
	padding: 15px;
	border-radius: 13px;
	border-top-left-radius: 0px;
}