.personalityDiv {
	font-family: 'Futura';
	letter-spacing: 0.8px;
	margin: 0 auto;
	padding: 5%;
}

ul.list {
	list-style: none;
}

ul li {
	list-style: none;
}

ul.list li {
	list-style-position: inside;
}

.bar {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 10px 0px;
	vertical-align: middle;
	border-color: black;
	border-style: solid;
	border-width: 1px;	
	background-color: #f49a7f;
}

.barName {
	padding-left: 13px;
}

#summaryText {
	border-color:#f49a7f;
	border-width: 2px;
	box-shadow: none;
	border-radius: 0px;	
	color: #f49a7f;
	text-align: justify;
}