/* Font */
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';


.personalityDiv {

	font-family: 'Lato';
	color: #fff;
	margin: 0 auto;
	padding: 15%;
}

label {
	font-family: 'Lato';
	font-weight: 100;
	font-size: 1.2em;
}

ul.list {
	list-style: none;
}

ul li {
	list-style: none;
}

ul.list li {
	list-style-position: inside;
}

.bar {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 10px 0px;
	color: #000;
	vertical-align: middle;
	border-color: black;
	border-style: solid;
	border-width: 1px;	
	background-color: #16a085;
}

.barName {
	padding-left: 13px;
}

#summaryText {
	border-color:#2980b9;
	border-width: 2px;
	box-shadow: none;
	border-radius: 0px;	
	color: #2980b9;
	text-align: justify;
}