<div class="container">
	<div class="row">
		<div class="col-12-lg">
			<div id="aboutUs">
			<h1>About the Developers</h1>
				<h3>Jo Chong</h3>
				<img src="img/jo.jpg" class="profile-photo img-responsive">
				<p>
					Hello, my name is Jo Chong! I am a web developer who is curious, patient, detail-oriented and enjoy working with people are passionate about what they do. When I'm not coding, I enjoy the outdoors, hiking, tennis, volunteering, and cooking! I have an <em>INFP</em> Personality aka <strong>"The Mediator"</strong>! : <br><br>
					"INFP personalities are true idealists, always looking for the hint of good in even the worst of people and events, searching for ways to make things better.
					While they may be perceived as calm, reserved, or even shy, INFPs have an inner flame and passion that can truly shine. Comprising just 4% of the population, the risk of feeling misunderstood is unfortunately high for the INFP personality type – but when they find like-minded people to spend their time with, the harmony they feel will be a fountain of joy and inspiration. <br>
					Few personality types are as poetic and kind-hearted as INFPs.  Their altruism and vivid imagination allow INFPs to overcome many challenging obstacles, more often than not brightening the lives of those around them.  INFPs' creativity is invaluable in many areas, including their own personal growth.""
				</p>
				<hr>
				<h3>Robin Cruz</h3>
				<div class="wrapper">
					

						<img src="img/rob.jpg" class="profile-photo img-responsive">
						<p>
						Hi, I'm Robin Cruz! A nomad passioante about tech, sports and ramen! With the help of The IBM Watson™ Personality Insights service, we were able to create our Know Yourself App.  I have an <em>ENFP</em> Personality aka <strong>"The Campaigner"</strong>! : <br><br>
						"The <strong>ENFP</strong> personality is a true free spirit. Charming, independent, energetic and compassionate, the 7% of the population that they comprise can certainly be felt in any crowd.  More than just sociable people-pleasers though, ENFPs, like all their Diplomat cousins, are shaped by their Intuitive (N) quality, allowing them to read between the lines with curiosity and energy.  They tend to see life as a big, complex puzzle where everything is connected –
						but unlike Analysts, who tend to see that puzzle as a series of systemic machinations, ENFPs see it through a prism of emotion, compassion and mysticism, and are always looking for a deeper meaning.<br><br>  As they observe, forming new connections and ideas, ENFPs won't hold their tongues – they're excited about their findings, and share them with anyone who'll listen.  This infectious enthusiasm has the dual benefit of giving ENFPs a chance to make more social connections, and of giving them a new source of information and experience, as they fit their new friends' opinions into their existing ideas.
						Few personality types are as creative and charismatic as ENFPs. Known for their idealism and enthusiasm, ENFPs are good at dealing with unexpected challenges and brightening the lives of those around them. ENFPs' imagination is invaluable in many areas, including their own personal growth."</p>
				</div>
			</div>
		</div>
	</div>
</div>