<div class="row container personalityDiv">
  <div class="col-xs-12 col-md-8">

    <!-- <form ng-submit="analyze()"> -->
      <form class="form-group">
        <h1>Analyze</h1>
         <label for="title">With IBM Watson's help, let us analyze your personality. Write something about yourself, it could be anything. Preferably between 3,500 - 6,000 for the most accurate results. Minimum 100 words.</label>

          <textarea rows="10" cols="20" type="text" class="form-control" id="summaryText" name="summary" ng-model="summary" style="border-color: black; color: black"></textarea>
        <!-- Number of words: <span ng-bind="wordCount(summary)"></span> -->
      
          <div ng-hide="hideError">{{ err }}</div>
          <button type="submit" class="btn btn-default" id="anaClear" ng-click="analyze(summary)">Analyze</button>
          <button type="reset" value="reset" class="btn btn-default" id="anaClear">Clear</button>
      </form>
    <!-- </form> -->
    <br>
    <form ng-submit="saveResult()">
      <div ng-hide="hideAll">
      <div id="divResults">
      <div class="list-group">
        <a href="#" class="list-group-item disabled big5">
          Personality Insights&trade;
        </a>
        <a href="#" class="list-group-item big5">Myers-Briggs Personality Type Equivalent: <span class="pResult">{{ mbti }} aka The {{ personalityType }}</span></a>
        <a href="#" class="list-group-item big5">Big 5 Personality Type Equivalent: <span class="pResult">{{ global5 }}</span></a>
       
      </div>
      <div class="big5s">
        
      
          <button ng-click="showBig5()" class="tab">Big 5</button>
          <button ng-click="showNeeds()" class="tab">Needs</button>
          <button ng-click="showValues()" class="tab">Values</button>
          <button ng-click="showSum()" class="tab">Conclusion</button>
        
        <div ng-hide="hideBig5" class="tabContent">
      		<ul class="list">
          <h3>Your Big 5</h3>
            <hr>
      			<strong>
            
              <li ng-repeat="big5 in big5s">
                &nbsp<small>{{ big5.percentage * 100 | number: 0 }}%</small>
                <span>{{ big5.name }}</span>
                <div class="bar text-right" ng-style="{'width': big5.percentage * 70 + '%'}"></div>
                <input type="hidden" name="{{big5.name}}" value="{{big5.percentage}}">

              </li>
            </strong>
      		</ul>
        </div>
        <div ng-hide="hideNeeds" class="tabContent">
          <ul class="list">
          <h3>Your Needs</h3>
            <hr>
            <strong>
              <li ng-repeat="need in needs">
                <div class="bar text-right" ng-style="{'width': need.percentage * 70 + '%'}"></div>&nbsp<small>{{ need.percentage * 100 | number: 0 }}%</small>
                <span>{{need.name}}</span>
              </li>
            </strong>
          </ul>
        </div>
        <div ng-hide="hideValues" class="tabContent">
          <ul class="list">
          <h3>Your Values</h3>
            <hr>
            <strong>
              <li ng-repeat="value in values">
                <div class="bar text-right" ng-style="{'width': value.percentage * 70 + '%'}"></div>&nbsp<small>{{ value.percentage * 100 | number: 0 }}%</small>
                <span>{{value.name}}</span>
              </li>
            </strong>
          </ul>
        </div>
        <div ng-hide="hideSum" class="tabContent">
          <ul class="list">
          <h3>Conclusion</h3>
            <hr>
            <strong>
              <div>
                <p id="rSum"> {{ rSummary }} </p>
              </div>
            
            </strong>
          </ul>
        </div>
        </div>
      
        <span ng-hide="hideSaveMsg">{{alert}}</span>
      </div>
      </div>
    </form>
  </div>


</div>