<!-- <div class="box on-hide" ng-show="toggle" ng-animate="'box'">
		<div class="hook">
		<img src="../img/laptop.png">
		<h3>Sign Up</h3>
		<p>Signing up is easy! It takes up to two minutes and is totally free - Give it a try!</p>
		</div>
		<div class="hook">
		<img src="../img/zoom.png">
		<h3>Match</h3>
		<p>Using the Watson Personality Insights API - Find and connect with those similar interests and personalities!</p>
		</div>
		<div class="hook">
		<img src="../img/device.png">
		<h3>On the Go</h3>
		<p>Places to be and people to see? Not a problem, take us on the go - we're mobile!</p>
		</div>
		<br>
		<div style="position: center">
		<h5><a href="/signup">Learn</a> more about LinkUp and how you can match up with the right people.</h5></div>
		</div>
	<div class="howHook">
		<button class="btn btnDefault" ng-click="toggle = !toggle" style="margin-left: 42%; margin-top: 0%;">How It Works</button>	
	</div>
</div> -->

<div class="container">
	<div class="row">
		<div class="col-lg-12">
		<div class="homepage">
			<h1>Know Yourself</h1>
				<h3>Find Your Personality</h3>
				<hr>
				<button class="btn btn-success btn-md">
					How it Works
				</button>
		</div>
		</div>
	</div>
</div>	


<script src="script.js"></script>
