<div class="box on-hide" ng-show="toggle" ng-animate="'box'">
		<div class="hook">
		<img src="../img/laptop.png">
		<h3>Sign Up</h3>
		<p>Signing up is easy and takes about 2 minutes!</p>
		</div>
		<div class="hook">
		<img src="../img/zoom.png">
		<h3>Match</h3>
		<p>Our matching algorithm helps you find the right people.</p>
		</div>
		<div class="hook">
		<img src="../img/device.png">
		<h3>On the Go</h3>
		<p>Take us on the go! We're mobile :)</p>
		</div>
	</div>
<div id="large-header" class="large-header">
	<canvas id="demo-canvas"></canvas>
	<p class="maintitle" style="text-decoration: none; font-family: Raleway;">LinkUp<p>
	<div class="howHook">
		<button class="btn btnDefault" ng-click="toggle = !toggle" style="margin-left: 42%; margin-top: 0%;">How It Works</button>	
	</div>
</div>

<script src="..app/js/TweenLite.min.js"></script>
<script src="..app/js/EasePack.min.js"></script>
<script src="..app/js/rAF.js"></script>
<script src="./public/js/banner.js"></script>
<script src="script.js"></script>
