<div class="box on-hide" ng-show="toggle" ng-animate="'box'">
		<div class="hook">
		<img src="../img/laptop.png">
		<h3>Sign Up</h3>
		<p>Signing up is easy! It takes up to two minutes and is totally free - Give it a try!</p>
		</div>
		<div class="hook">
		<img src="../img/zoom.png">
		<h3>Match</h3>
		<p>Using the Watson Personality Insights API - Find and connect with those similar interests and personalities!</p>
		</div>
		<div class="hook">
		<img src="../img/device.png">
		<h3>On the Go</h3>
		<p>Places to bb and people to see? Not a problem, take us on the go - we're mobile!</p>
		</div>
		<br>
		<div style="position: center">
		<h5><a href="/signup">Learn</a> more about LinkUp and how you can match up with the right people.</h5></div>
		</div>
<div id="large-header" class="large-header">
	<canvas id="demo-canvas"></canvas>
	<p class="maintitle" style="text-decoration: none">LinkUp<p>
	<div class="howHook">
		<button class="btn btnDefault" ng-click="toggle = !toggle" style="margin-left: 42%; margin-top: 0%;">How It Works</button>	
	</div>
</div>

<script src="..app/js/TweenLite.min.js"></script>
<script src="..app/js/EasePack.min.js"></script>
<script src="..app/js/rAF.js"></script>
<script src="./public/js/banner.js"></script>
<script src="script.js"></script>
