<div class="form-style-8">
  <h2>Login to your account</h2>
  <form method="POST" ng-submit="login()">
    <input type="email" name="email" placeholder="Email" />
   <input type="password" name="password" placeholder="Password i.e. ILikeTurtles" />
   <div class="login">
    <input type="button" value="Login" />
   </div>
  </form>
   <!--  <span style="margin-left: 180px">— or —</span> -->
 <!--  <div class="fblogin">
  <a href="/auth/login/facebook" class="btn btn-primary">Login with Facebook</a>
  </div> -->
</div>

