<div class="form-style-8">
  <h2>Login to your account</h2>
  <form action="/login" method="POST">
  
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">

    <div class="login">
      <input type="submit" value="Log in">
    </div>

  </form>
   <!--  <span style="margin-left: 180px">— or —</span> -->
 <!--  <div class="fblogin">
  <a href="/auth/login/facebook" class="btn btn-primary">Login with Facebook</a>
  </div> -->
</div>

