<div class="form-style-8">
  <h2>Sign Up</h2>
  <form ng-submit="signup()">
    <input type="text" name="firstName" placeholder="First Name" ng-model="firstName" />
    <input type="text" name="lastName" placeholder="Last Name" ng-model="lastName" />
    <input type="email" name="email" placeholder="Email" ng-model="email" />
    <input type="password" name="password" placeholder="Password i.e. ILikeTurtles" ng-model="password" />
    <div style="margin-left: 150px">
    <input input type="submit" value="Sign Up" style="position: center" /><br>
    </div>
    <br>
    <div style="margin-left: 122px">
    <a href="/auth/login/facebook" class="btn btn-primary">Signup with Facebook</a>
   </div>
  </form>
</div>